.background {
  fill: none;
  stroke: #aaa;
  stroke-width: 1px;
  pointer-events: all;
}

.icon-background {
  fill: white;
  stroke: #aaa;
  stroke-width: 1px;
  pointer-events: all;
}

#provinces {
  fill: #aaa;
}

#provinces .active {
  fill: orange;
}

#riding .riding {
  /*fill: yellow;*/
  stroke: #fff;
  stroke-width: 1px;
}

#province-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#riding_names {
  font-family: Helvetica;
  text-anchor: middle;
}

.zoom_pan {
  font-family: Helvetica;
  text-anchor: middle;
  fill: white;
}

.symbol {
  stroke: #aaa;
  fill: #aaa;
  stroke-width: 5px;
  stroke-linecap: round;
}